@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");

body {
  font-family: 'Lato', sans-serif;
  color: #040000;
}

.layout_padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 20px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  padding-bottom: 40px;
}

.heading_container p {
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #728F47;
  font-size: 52px;
  font-style: normal;
}

h3 {
  color: #728F47;
  font-size: 30px;
  font-weight: bold;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/*header section*/
.hero_area {
  position: relative;
  background-color: #fff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #9ACD32;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
}

.header_section .header_top .contact_nav i img {
  width: 30px;
  ;
  margin: 5px;
}

.header_bottom {
  background-color: #ffffff;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.header_bottom .navbar-collapse {
  margin-right: 200px;
}

.header_section .header_bottom a img {
  width: 100px;
  height: 50px;
  background-color: #3498db;
  border-radius: 50%;
  margin-left: 50px;
}

.header_section .header_bottom ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.header_section .header_bottom ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  top: 15px;
  right: 0;
  background-color: #0000006B;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand span {
  color: #0355cc;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #000000;
  text-align: center;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: var(--greenYellow);
}

.custom_nav-container .form-inline .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .dropdown-menu {
  background-color: var(--greenYellow);
  /* Màu nền của menu dropdown */
}

.custom_nav-container .dropdown-item {
  color: #fff;
  /* Màu chữ của các mục trong menu dropdown */
}

.custom_nav-container .dropdown-item:hover {
  color: #555;
  /* Màu nền khi di chuột qua các mục trong menu dropdown */
  background-color: var(--greenYellow);
}

.custom_nav-container .form-inline .nav_search-btn:hover {
  color: #0355cc;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #ff8a1d;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section img {
  width: 100vw;
  height: 750px;
}

/* end slider section */

.feature_section {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.feature_section .feature_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_section .feature_container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: #ffffff;
  color: #555089;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_section .feature_container .box .img-box {
  width: 90px;
  height: 90px;
}

.feature_section .feature_container .box .img-box svg {
  width: 100%;
  height: auto;
  max-height: 100%;
  fill: #726dae;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature_section .feature_container .box .img-box svg path {
  fill: #726dae;
}

.feature_section .feature_container .box .name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 0;
}

.feature_section .feature_container .box:hover,
.feature_section .feature_container .box.active {
  background-color: #ff8a1d;
  color: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg,
.feature_section .feature_container .box.active .img-box svg {
  fill: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg path,
.feature_section .feature_container .box.active .img-box svg path {
  fill: #ffffff;
}

/* about section*/

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 10px;
}

.about_section .detail-box a {
  margin-top: 15px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: var(--greenYellow);
  border: 1px solid var(--greenYellow);
  border-radius: 10px;
  color: #ffffff;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: var(--greenYellow);
}

.about_section .img-box img {
  width: 100%;
}

/* end about section*/

/* service eco */
.service_eco {
  background: linear-gradient(0deg, rgba(143, 198, 64, 0.34) 0%, rgba(143, 198, 64, 0.00) 100%);
}

.service_eco .img-box {
  position: relative;
}

.service_eco .img-box img {
  margin-left: 50px;
}

.service_eco .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 390px;
  height: 64px;
  padding-top: 14px;
  transform: translate(-50%, -50%);
  background: #8FC640E5;
  text-transform: uppercase;
}

.service_eco .modal-content img {
  /* width: 910px;
  height: 930px; */
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Đưa hình ảnh vào giữa màn hình */
}

.service_eco .img-box:hover .overlay {
  display: block;

}

.service_eco .overlay-text {
  color: #FFF;
  font-family: Newsreader;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  cursor: pointer;
  font-size: xm-large;
  padding-left: 20px;
  margin: 0;
}

/* end service eco */

.professional_section {
  background-color: #fff;
}

/* professional section */

.professional_section .img-box {
  position: relative;
}

.professional_section .img-box img {
  width: 100%;
  height: 336px;
  object-fit: cover;
  object-position: top center;
}

.professional_section .img-box h2 {
  position: absolute;
  top: 122px;
  left: 186px;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}

/* end professional section */


.service_section {
  position: relative;
  background: rgba(143, 198, 64, 0.07);
  border-bottom: 20px;
}

.service_section .container-fluid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  margin: 2px;
  gap: 10px;
}

.service_section .container-fluid .item {
  background-color: #8FC640CC;
  position: relative;
}

.service_section .container-fluid .item h3 {
  position: absolute;
  top: 50%;
  left: 50px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.service_section .container-fluid .item img {
  position: absolute;
  display: flex;
  width: 363.33px;
  height: 200px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}


.service_section .heading_container {
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: #fff;
}

.heading_container h3 {
  text-transform: uppercase;
}

.heading_container h3::after {
  position: absolute;
  content: "";
  display: block;
  width: 370px;

  /* Chiều rộng của gạch ngang */
  height: 2px;
  /* Độ dày của gạch ngang */
  background-color: yellow;
  /* Màu của gạch ngang */
  margin: 10px auto;
  /* Khoảng cách giữa gạch và văn bản */
}

.instruct_section {
  margin-bottom: 15px;
}

.instruct_section img {
  width: 100%;
}

.featured_new {
  margin-top: 50px;
}

.featured_new .row .img-box img {
  width: 100%;
}

.featured_new .detail-box h3 {
  color: #FEBB25;
  margin-top: 20px;
}

.featured_new .detail-box a {
  margin-top: 15px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #FEBB25C2;
  border: 1px solid #FEBB25C2;
  border-radius: 10px;
  color: #ffffff;
}

.featured_new .detail-box a:hover {
  background-color: transparent;
  color: var(--greenYellow);
}
  padding: 75px 0;
  background-color: #0a0f43;
  text-align: center;
  color: #fff;
}

.info_section h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.info_section .social-box .box {
  background-color: #ffffff;
  padding: 5px 15px;
}

.info_section a {
  margin: 0 5px;
  color: #0355cc;
}

.info_section a i {
  font-size: 18px;
}

.info_section a:hover {
  color: #ff8a1d;
}

.info_items a {
  position: relative;
}

.info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: #ffffff;
}

.info_items .item .img-box i {
  font-size: 24px;
}

.info_items .item p {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 0;
  background-color: #0a0f43;
}

.info_items .item:hover .img-box {
  background-color: #ff8a1d;
}

.info_items {
  position: relative;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 75%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
} */

/* partnership_section */
.partnership_section .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.partnership_section .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  margin-left: 0;
  padding-left: 50px;
}

.partnership_section .container .item {
  position: relative;
}

.partnership_section .container .item::after{
  content: "";
  position: absolute;
  display: block;
  background-color: #000;
  width: 1px;
  height: 170px;
  top: 30px;
  right: 0;
}

.partnership_section .container-fluid .heading_container {
  background-color: #8FC640;
  height: 100px;
  margin-bottom: 0;
  padding-top: 30px;
}

.partnership_section .container-fluid h2 {
  height: 100px;
  color: #fff;
  font-size: 40px;
  margin: 0;
}

.partnership_section .heading2 {
  background: linear-gradient(180deg, rgba(143, 198, 64, 0.40) 0%, rgba(143, 198, 64, 0.00) 100%);
  height: 66px;
}

.partnership_section .heading2 h3 {
  color: #FEBB25;
  padding-top: 25px;
  padding-left: 80px;
}

.partnership_section .heading2 h3::after {
  position: absolute;
  content: "";
  display: block;
  width: 370px;
  height: 3px;
  background-color: #728F47;
  margin: 10px auto;
}

/* end partnership_section */
/* footer section*/
.footer_section {
  background-color: #8FC640;
}

.footer_section .container-fluid .row {
  padding-bottom: 40px;
}

.footer_section h3 {
  color: #fff;
  padding-top: 12px;
}

.footer_section p {
  color: #000;
  padding: 0;
  text-align: left;
  border: none;
}

.footer_section a {
  margin: 0 5px;
  color: #000;
  color: inherit;
}

.footer_section .logo {
  position: relative;
}

.footer_section .logo img {
  width: 150px;
  /* Đường kính của hình tròn */
  height: 150px;
  /* Đường kính của hình tròn */
  background-color: #D9D9D9;
  /* Màu nền của hình tròn */
  border-radius: 50%;
  /* Đặt giá trị là 50% để tạo hình tròn */
  position: absolute;
  top: 70px;
  left: 100px;
}

.footer_section h4 {
  position: relative;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 20px;
 padding-left: 40px;
}

.footer_section h4::after {
  position: absolute;
  content: "";
  display: block;
  width: 150px;
  /* Chiều rộng của gạch ngang */
  height: 3px;
  /* Độ dày của gạch ngang */
  background-color: #FFFCFC;
  /* Màu của gạch ngang */
  margin: 5px auto;
 }

 .footer_section ul {
  padding-top: 40px;
 }

.footer_section ul li {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style-type: none;
}

.footer_section .map_container {
  height: 260px;
  width: 100%;
  border-radius: 10px;
}

.footer_section .map_container .map {
  height: 100%;
  
}

/* end footer section*/